.test { color: orange }

/* --- exo 2 --- */
nav#block-ajc-main-menu ul li {
    display: inline;
    margin-right: 16px
}

.html-bg      { background-color: #D5D8DC; font-size: 2.8rem }
.page-bg      { background-color: #F2D7D5; font-size: 2.5rem }
.region-bg    { background-color: #EBDEF0; font-size: 2.1rem }
.node-bg      { background-color: #D1F2EB; font-size: 1.2rem }

.region-bg span { font-size: 0.5em }

.course-article { background-color: #efefef }
/* --- exo 2 --- */